.container {
    display: flex;
}
form{
    width:fit-content;
}

.box {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    margin-left: 2px;
}

input[type="checkbox"] {
    width: 40px; /* Fix szélesség */
    height: 40px; /* Fix magasság */
    appearance: none; /* Böngésző alapstílusok kikapcsolása */
    border: 4px solid black; /* Látható keret */
    background-color: white; /* Alap háttérszín */
    border-radius: 100%;
    margin-top: 5%;
}

input[type="checkbox"]:checked {
    background-color: #000000; /* Kijelölve színezés */
    border-color: #000000;
}

.row{
    margin-top: 1%;
    display: flex;
    text-align: center;
}

.note-label {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
}

.komment{
    height: 200%;
    border-style: solid;
    border-color: black;
}

.me-1
{
  width: auto;
  border-color: #000000;
  color: white;
  border-radius: 100%;
}

.custom-carousel-control {
  width: 60px;
}

.carousel-control-prev.custom-carousel-control {
  left: -70px;
}

.carousel-control-next.custom-carousel-control {
  right: -70px;
}

.takaras {
  border: 1px solid black;
  background-color: white;
  padding: 0;
  border-radius: 100%;
  aspect-ratio: 1;
  width: 50%;
  max-width: 50px;
}

.btn0 {
  background: white;
}

.btn1 {
  background: linear-gradient(to top, black 50%, white 50%);
}

.btn2 {
  background: black;
}

html, body {
  margin: 0;
  min-height: 100%;
  font-size: large;
  color: black;
}

body {
  /* padding-top: 1.5dvh; */
  background-color: rgb(216, 199, 142);
  background-size: cover;
}

* {
    cursor: url('resources/cursor.png'), default;
    font-family: 'Playfair Display', serif;
}

a:hover, button:hover {
  cursor: url('resources/cursor_click.png'), pointer;
}

.note-slider {
  overflow: hidden !important;
  width: 100%;
}

.note-track{
  display:flex;
  gap:12px;
  padding:8px 4px;
}
.note-card{
  scroll-snap-align: start;
}

#noteContainer
{
  width: 103%;
}

input.recorderToggle {
  width: 40px;
  height: 40px;
  appearance: none;
  border: 4px solid black;
  background-color: white;
  position: relative;
  cursor: pointer;

  box-shadow: inset 10px 2px 4px rgba(0,0,0,0.5);
}

/* szöveg */
input.recorderToggle::before {
  color: black;
  content: "3D";
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}

input.recorderToggle:checked::before {
  color: white;
  content: "2D";
}

input.recorderToggle:checked {
  box-shadow: inset 0 0 0 rgba(0,0,0,0);
}